a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.red{
    color:#A94442;
}



.bg_color{
    background-color: #222D32;
}

.panel-title{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
}

.mat{
    margin-top:150px;
}

.mat_20{
    margin-top: 30px;
}

/* 左 */

.lt_aside{
    height: 100%;
    width: 180px;
    position: fixed;
    top:0;
    left:0;
    background-color: #222D32;
    z-index: 999;
    transition: all 1s;
}
.lt_aside.hidemenu{

    left:-180px;
}

.lt_aside .brand{
    height: 50px;
    line-height: 50px;
    background-color: #367FA9;
    text-align: center;
}

.lt_aside .brand a{
    display: block;
    color:#fff;
    font-size: 24px;
}

.lt_aside .user{
    height: 180px;
    width: 180px;
    padding-top:30px;
}

.lt_aside .user img{
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.lt_aside .user p{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:#fff;
    font-size: 18px;
}

.lt_aside .nav li a{
    height: 40px;
    display: block;
    line-height: 40px;
    padding-left:40px;
    color:#fff;
    border-left:3px solid transparent;
}

.lt_aside .nav li a.current{
    border-left:3px solid #006699;
    background-color: #1D1F21;
}

.lt_aside .nav .child{
    display: none;
}

.lt_aside .nav .child a{
    padding-left:60px;
}

/* 右 */

.lt_main{
    width: 100%;
    height: 200px;
    padding-left:180px;
    padding-top: 50px;
    transition: all 1s;
}

.lt_main.hidemenu{
    padding-left: 0;
}

.lt_main .lt_topbar{
    height: 50px;
    width: 100%;
    position: fixed;
    left:0;
    top:0;
    background-color: #3C8DBC;
    padding-left:180px;
    transition: all 1s;

}
.lt_topbar.hidemenu{
    padding-left: 0;
}

.lt_main .lt_topbar a{
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color:#fff;
}

.lt_main .table-bordered th,
.lt_main .table-bordered td{
    text-align: center;
    vertical-align: middle;
}